---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #F05F40;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

// @media (min-width: 768px)
// .navbar-default.affix .navbar-header .navbar-brand {
//     color: #3FBFBF;
//   }

//   .navbar-default .nav > li.active > a, .navbar-default .nav > li.active > a:focus {
//       color: #3FBFBF !important;
//       background-color: transparent;
//   }

  
.portfolio-box {
    height: 275px;
    position: relative;
        display: block;
        width: 400px;
        margin: 0 auto;
        margin-bottom: 20px;
        border: 2px solid #3FBFBF;
}

.portfolio-box .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(63, 191, 191, 0.95);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

img {
  vertical-align: middle;
  margin: 0 auto;
}

.titleBox {
      background: #3FBFBF;
          border: 5px solid #3FBFBF;
          border-radius: 1%;
          height: 50px;
          border-top-right-radius: 1em;
          border-top-left-radius: 1em;
          width: 400px;
          margin: 0 auto;
}

.project-name {
  text-align: center;
  color: white;
}

