<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My Story</h2>
                <hr class="light">
                <p class="text-faded">
<span>I</span> was predicted to be an Architect by my nursery teacher.<br> An Archaeologist by many of my peers at school. On my journey to find my calling, I dipped my toes into consulting, marketing, and even politics.
<br>
<br> Against the backdrop of the 2008 US elections, I, as an 18-year old, was obsessed with changing the world for the better. Soon after, I ventured into student politics at Edinburgh University and I realised that changing the world was tough. Much tougher than I thought.
<br>
<br>
I abandoned politics for business. I went as far afield as China to learn about international business. I took on consulting projects. I taught myself a great deal about the commercial world but a part of me longed for creativity. I had a burning inner desire to build great things.
<br>
<br>
For two years, I deliberated in applying to the web development course at General Assembly. No other experience was as great as learning to code and building your projects.
<br>
<br>
Simply put, I love to build and co-create web apps. 
<br>
<br>
</p>
            </div>
        </div>
    </div>
</section>
