<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My Story</h2>
                <hr class="light">
                <p class="text-faded">

On my journey to find my calling, I dipped my toes into consulting, marketing, and even politics. I went as far afield as China to learn about business. But nothing was as satisfying as learning to code on General Assembly’s web development course.
<br>
<br>
For 2 years, I deliberated to apply. I am happy I eventually pursued this opportunity because I had a burning desire to build. Simply put, I love to build and co-create web apps. I enjoy bringing ideas to life through individual programming and pair-programming.
<br>
<br>
Now that I feel I have found a purpose, I wish to continue to learn and make good progress in a junior web developer position. With my broad background, international experience and project stakeholder management skills, I believe I can add value as a member of your team</p>
            </div>
        </div>
    </div>
</section>
