<section class="no-padding" id="portfolio">

<h2 class="h2">My Projects</h2>
<hr>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="titleBox"><p class="project-name">bulb</p></div>
                <a href="http://bulbapp.herokuapp.com/" class="portfolio-box">
                    <img src="img/portfolio/bulbPortfolio.png" class="img-responsive bulb" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ruby on Rails Project
                            </div>
                            <br>
                            <div>
                                Bulb is a crowd-sourcing platform for employees to help shape company strategy by proposing and voting on ideas.
                                <br>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
            <div class="titleBox"><p class="project-name">Capital Country Currency</p></div>
                <a href="http://capitalcountrycurrency.herokuapp.com/" class="portfolio-box">
                    <img src="img/portfolio/CCCPortfolio.png" class="img-responsive c3" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Front-end JavaScript Project
                            </div>
                            <br>
                            <div>
                                Enter any capital, country and currency based on a randomly generated letter in 30 seconds. This is a two-player game. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="titleBox"><p class="project-name">Newsroom</p></div>
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/newsroomPortfolio.png" class="img-responsive newsroom" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Node.js Group Project
                            </div>
                            <br>
                            <div>
                                Newsroom is a newsfeed with live social media commentary. 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                    <div class="titleBox"><p class="project-name">BackIt</p></div>
                    <a href="https://backit.herokuapp.com/" class="portfolio-box">
                    <img src="img/portfolio/Backit.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                MEAN Stack Project
                            </div>
                            <br>
                            <div>
                                BackIt enables you to back petitions as you swipe.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="titleBox"><p class="project-name">The Duke of York<br> Inspiring Digital Enterprise Award [iDEA]</p></div>
                <a href="https://idea.org.uk" class="portfolio-box">
                    <img src="img/portfolio/GIF_Making_SQ.png" class="img-responsive tgbca" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                E-learning development projects
                            </div>
                            <br>
                            <div>
                                Supporting HRH The Duke of York on iDEA, an EdTech initiative by developing, designing and testing e-learning courses as well as managing quality assurance cycles. <br><br>Most notably, I developed the GIF Making<br> e-learning course using PHP.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="titleBox"><p class="project-name">Our next project?</p></div>
                <a href="#contact" class="portfolio-box">
                    <img src="img/portfolio/pritpalsidea.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Future Projects
                            </div>
                            <br>
                            <div>
                                Please contact me for projects and career opportunities.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
