<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://bulbapp.herokuapp.com/" class="portfolio-box">
                    <img src="img/portfolio/bulb-blue.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Ruby on Rails Project
                            </div>
                            <div class="project-name">
                                bulb
                            </div>
                            <br>
                            <hr>
                            <div>
                                Bulb is a crowd-sourcing platform for employees to help shape company strategy by proposing and voting on ideas.
                                <br>
                                <strong>Tech:</strong> Ruby on Rails, Ruby, Google Charts, JavaScript, Ruby Gems, Foundation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://capitalcountrycurrency.herokuapp.com/" class="portfolio-box">
                    <img src="img/portfolio/CapitalCountryCurrencyLogo.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Front-end JavaScript Project
                            </div>
                            <div class="project-name">
                            Capital Country Currency
                            </div>
                            <br>
                            <hr>
                            <div>
                                Enter any capital, country and currency based on a randomly generated letter in 30 seconds. This is a two-player game. 
                                <br>
                                <strong>Tech:</strong> JavaScript, jQuery, Animate.css
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/newsroom_logo.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Node.js Group Project
                            </div>
                            <div class="project-name">
                                Newsroom
                            </div>
                            <br>
                            <hr>
                            <div>
                                Newsroom is a newsfeed with live social media commentary. It is a group project.
                                <br>
                                <strong>Tech:</strong> MongoDB, Express, Node.js, AJAX, Socket.io, Materialize.css
                                <br>
                                <strong>APIs:</strong> The Guardian, Aylien (Suggested Twitter Hashtags Extraction), Twitter
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                MEAN Stack Project
                            </div>
                            <div class="project-name">
                                Thumb
                            </div>
                            <br>
                            <hr>
                            <div>
                                Thumb enables you to back petitions as you swipe.
                                <br>
                                <strong>Tech:</strong> MongoDB, Express, Node.js, Mobile Angular UI (AngularJS with Bootstrap)
                                <br>
                                <strong>API:</strong> change.org
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
