<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading serviceHead">At Your Service</h2>
                <hr class="primary secondary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row servicesRow">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                <img class="services bounceIn" src="../img/Front-end.png">
                    <h3 class="servicesText">Frontend Development</h3>
                    <p class="text-muted"><br> JavaScript, jQuery, AngularJS, HTML5, CSS3 including Bootstrap and Foundation</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="services bounceIn" src="../img/Back-end.png">
                                        <h3 class="servicesText">Backend Development</h3>
                    <p class="text-muted"><br> Node.js, Express, Ruby, Sinatra, Ruby on Rails, SQL inlcuding MongoDB</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="services bounceIn" src="../img/Experience.png">
                                        <h3 class="servicesText">Business</h3>
                    <p class="text-muted"><br> German Language, Consulting, Strategy, Marketing, Project and Stakeholder Management</p>
                </div>
            </div>
        </div>
    </div>
</section>
